<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
   {% load staticfiles %}   
  <link rel="stylesheet" href="{% static '/users/css/style.css' %}">  
  <title>User Management</title>
</head>
<body>
  <h2>Welcome!</h2>      
  {% if messages %}
  
    <ul class="errors">
    <p><strong>Please fix errors:</strong></p>
      {% for message in messages %}
        <li>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container register">
  <h3>Register Users</h3>
  <form action="{% url 'users:create' %}" method="post">
    {% csrf_token %}
    <p><label>First Name:</label> <input type="text" name="firstName" ></p>
    <p><label>Last Name: </label><input type="text" name="lastName" ></p>
    <p><label>Email: </label><input type="text" name="email">  </p>  
    <p><label>Password:</label><input type="password" name="password"></p>
    <p><label>Confirm Password:</label> <input type="password" name="confirmPassword"></p>
    <p> <input type="submit" value="Register"></p>
  </form>
  </div>
 <div class="container">
  <h3>Login:</h3>
  <form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    <p><label>Email:</label>
    <input type="text" name="email"> </p>
    <p><label>Password:</label>
    <input type="password" name="password"></p>
    <p><input type="submit" value="Login"></p>
  </form>
  </div>
  
  
</body>
</html>