body{
  padding:0px;
}
#nav{
  padding-left:500px;
}
ul{
  display: inline-block;
  padding: 0px;
  margin:0px;
  background-color: #eee;
  border-radius: 6px;
  width:1020px;
}

.userreviewes{  
  width:500px;
  padding:0px!important;
  margin:0px!important;
}
li{  
  display: inline-block;
  list-style-type: none;
  padding:5px;
}
div{
  padding-left:10px;
}
.review {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  background-color: #eee;
  border-radius: 6px;
  margin-top: 5px;
  margin-bottom: 5px;
  width:500px;
}
.other {
  display:inline-block;
  vertical-align: top;
  margin-top:32px;
  margin-left:10px;
}
.loginerrors{
  display: block!important;
  color: red;
  margin-left: 10px;
  background-color: white;
  margin-top: 10px;
}

.addreviewSide {
  display:inline-block;
  vertical-align: top;

}
.allReviews{
  display:inline-block;
  
}
.add-review {
  padding-left: 60px;
  /* margin-top: 15px;
  padding-top: 20px; */
  padding-bottom: 20px;
  background-color: #eee;
  border-radius: 6px;
  width: 400px;
  margin-left: 10px;
}

/* h3 {
  margin-bottom: 20px;
} */
h3, h4, h5{
  /* padding:5px; */
  margin:5px;
}
.errormessages{
  color: red;
  margin-left:10px;
}