<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Book and Review</title>   
    <link rel="stylesheet" href="{% static 'books/css/books.css' %}">
  </head>
  <body>
    <div>        
      <ul class="nav">
        <li><h3>Welcome, {{request.session.first_name}}!</h3></li>
        <li id="nav"> <a href="{% url 'books:home' %}">Home</a></li>|
        <li><a href="{% url 'books:add_book' %}"> Add Book </a></li>|          
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      </ul>
    </div>    

    {% if messages %}
    <ul class="errors">
      {% for message in messages %}
        <li >{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}

    <div class="add-review">
      <h4>Add A New Book and Review</h4>
      <form  action="{% url 'books:add_book' %}" method="post">
        {% csrf_token %}
        <div>
          <label for="book_title" >Book Title</label>
          <div >
            <input type="text" name="book_title" class="form-control" placeholder="Book Title">
          </div>
        </div>

        <div>
          <label for="author" >Author</label>
          <div >
            <select class="form-control" name="author1">
              <option value="0">Choose From List</option>
            {% for book in books %}
              <option value="{{book.author}}">{{book.author}}</option>
            {% endfor %}
            </select>
            <input type="text" name="author2" class="form-control" placeholder="Add New Author">
          </div>
        </div>

        <div>
          <label for="review" >Review</label>
          <div>
            <textarea  name="review" rows="3" placeholder="Review"></textarea>
          </div>
        </div>

        <div >
          <label for="rating" >Rating</label>
          <div >
            <select  name="rating">
              <option value="*">*</option>
              <option value="**">**</option>
              <option value="***">***</option>
              <option value="****">****</option>
              <option value="*****">*****</option>
            </select>
          </div>
        </div>

        <div >
          <div>
            <button type="submit" >Add Book and Review</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  </body>
</html>
