<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Book Reviews</title>    
    <link rel="stylesheet" href="{% static 'books/css/books.css' %}">
  </head>
  <body>
   <div>        
      <ul class="nav">
        <li><h3>Welcome, {{request.session.first_name}}!</h3></li>
        <li id="nav"> <a href="{% url 'books:home' %}">Home</a></li>|
        <li><a href="{% url 'books:add_book' %}"> Add Book </a></li>|          
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      </ul>
    </div>
      {% comment %} {% if messages %}
        {% for message in messages %}
          {{message}}
        {% endfor %}
      {% endif %} {% endcomment %}
      {% if messages %}
          <ul class="loginerrors">
            {% for message in messages %}
              <li {% if message.tags %}
                class="{{ message.tags }}"
              {% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      <div >
        <h3>Book: {{book.book_title}} <span class="glyphicon glyphicon-book"></span></h2>
        <p>Author: {{book.author}} </p>
      </div>
      <div class="allReviews">
        {% for review in reviews %}
        <div class="review">
          <h4><strong>Rating: </strong>{{review.rating}}</h4>
          <h4><strong><a href="{% url 'books:user' id=review.user.id %}">{{review.user.first_name}}</a> says: </strong>{{review.review}}</h4>
          <h5>{{review.created_at}}</h5>
          
          {% if request.session.user_id == review.user.id %}
            <h4><a  href="{% url 'books:destroy' id=review.id %}" role="button">
              Delete 
            </a></h4>
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <div class="addreviewSide">
        <div class="add-review ">
          <h3>Add Review</h3>
          <form class="form-horizontal" action="{% url 'books:create_review' id=book.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="new_review" class="col-sm-1 control-label">Review</label>
              <div class="col-sm-6">
                <textarea class="form-control" name="new_review" rows="3"></textarea>
              </div>
            </div>

            <div class="form-group">
              <label for="rating" class="col-sm-1 control-label">Rating</label>
              <div class="col-sm-6">
                <select class="form-control" name="rating">
                  <option value="*">*</option>
                  <option value="**">**</option>
                  <option value="***">***</option>
                  <option value="****">****</option>
                  <option value="*****">*****</option>
                </select>
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-1 col-sm-6">
                <button type="submit" class="btn btn-info">Add Review</button>
              </div>
            </div>
          </form>
      </div>
      </div>
    </div>
  </body>
</html>
