<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>User Reviews</title>   
    <link rel="stylesheet" href="{% static 'css/books.css' %}">
  </head>
  <body>
    <div>        
      <ul>
        <li><h3>Welcome, {{request.session.first_name}}!</h3></li>
        <li id="nav"> <a href="{% url 'books:home' %}">Home</a></li>|
        <li><a href="{% url 'books:add_book' %}"> Add Book </a></li>|          
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
      </ul>
    </div>
      <div class=>
        <h3>Name: {{user.first_name}} {{user.last_name}}</h3>
        <p>Email: {{user.email}}</p>
        <p>Total Reviews: {{total}}</p>
        <p><strong>Posted Reviews on the following books:</strong></p>
        <ul class="userreviewes">
          {% for review in reviews %}
            <h4><li ><a href="{% url 'books:show' id=review.book.id %}">{{review.book.book_title}}</a></li></h4>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
